<h1>Nuevo Usuario</h1>

<%= form_for(@user) do |f| %>
  <form>
	Titulo del Post:
	<br> 
	<input type="text" name="user[name]">
	<br>
	<input type="submit" value="Crear User">

  </form>
  
  <% end %>


